@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Indie+Flower&family=Quicksand&family=Raleway:wght@100&family=Zen+Dots&display=swap');

.headings {
    padding: 20px 0px 0px 20px;
    color: white;
}

h1 {
    font-size: 80px;
    font-family: "Bungee Outline";
    margin: 0px;
}

.headings:hover {
    color: #00EAFF;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    padding-top: 0px;
}

/* .nav {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.navLinks {
    padding: 0px 15px 0px 0px;
    font-size: 20px;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-top: 25px;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color:#00EAFF;
}


