@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalnia&family=Noto+Sans+Osmanya&family=Quicksand&family=Raleway:wght@100&family=Zen+Dots&display=swap");


h2 {
    margin-left: 10px;
}

h4 {
    font-size: 26px;
}

.project-images {
    max-width: 50%;
}

.projects, ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

 .project-list {
    margin: 20px 0px 25px 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.project-list {
    max-width: 80%;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #051c4983;
}

.description {
    max-width: 80%;
}

.proj-list {
    margin: 0px;
    padding: 0px;
}


