@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalnia&family=Noto+Sans+Osmanya&family=Quicksand&family=Raleway:wght@100&family=Zen+Dots&display=swap");


h2 {
    margin-left: 10px;
}

h4 {
    font-size: 26px;
}

.project-images {
    max-width: 50%;
}

.projects, .project-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.description {
    max-width: 75%;
}



